h1 Была создана новая бронь:

h2 Забронирован в номер
  |  "#{roomName}"
  | типа:
  | "#{roomType}"

.div c
  b  #{startDate}
  |  по
  b  #{endDate}
  |  (#{countDays} дней)
br

.div Имя:
  b  #{firstName} #{lastName}
br

.div Почта:
  b  #{email}
br

.div Телефон:
  b #{phone}
br

.div Комментарий:
  b #{comment}
br

.div К оплате:
  b  #{price} руб
