<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

  style(type='text/css').
    table {
      font-family: "Arial", sans-serif;
      max-width: 600px;
      color: #333333;
      border-collapse: collapse;
    }

    .hidden {
      font-size: 0px;
      font-color: #ffffff;
      opacity: 0;
      visibility: hidden;
      width: 0;
      height: 0;
      display: none;
    }

    .header-cell {
      padding-left: 30px;
    }

    .header-phone {
      font-size: 14px;
      font-weight: 600;
      vertical-align: bottom;
      padding: 10px 30px 10px 0;
      display: inline-block;
      color: #333333;
      text-decoration: none;
    }

    .header-image {
      display: inline-block;
      margin: 0 77px 0 0;
    }

    .thank-cell {
      padding: 25px 0 15px 30px;
      border-radius: 6px;
    }

    .thank-text {
      font-size: 20px;
      color: #ffffff;
      padding-bottom: 10px;
      display: inline-block;
    }

    .info-cell {
      padding-bottom: 20px;
      padding-left: 30px;
    }

    .info-item {
      width: 200px;
      max-width: 300px;
      font-size: 16px;
      font-style: italic;
      display: inline-block;
      margin-bottom: 10px;
    }

    .info-value {
      width: 240px;
      font-size: 18px;
      display: inline-block;
      color: #333333;
      text-decoration: none;
    }

    .info-value {
      width: auto;
    }

    .count-days {
      width: 80px;
      padding-right: 40px;
      font-size: 18px;
      color: #ff9068;
      display: inline-block;
      text-align: right;
    }

    .cost-cell-line {
      padding: 0 30px 0 30px;
    }

    .cost-cell {
      padding: 0 30px 0 30px;
    }

    .cost-text {
      font-size: 16px;
      font-weight: 600;
      padding-bottom: 10px;
      display: inline-block;
    }

    .cost-text-value {
      width: 481px;
    }

    .cost-text-price {
      text-align: right;
    }

    .pay-info {
      font-size: 16px;
      padding: 12px 16px;
      font-weight: 600;
      border: 1px solid #ff9068;
      border-radius: 12px;
      color: #ff9068;
    }
  
body
  .hidden Спасибо! Ваша бронь №#{ orderId } оформлена. Даты пребывания: #{ startDate } - #{ endDate } (#{ countDays } суток). На имя #{ firstName } #{ lastName }

  table(cellpadding='0', cellspacing='0', align='center', width='100%', style={ margin: "20px auto 40px auto" })
    tr
      td.header-cell
        img.header-image(
          src='https://catdog-house.ru/images/logo-mini.png',
          alt='Cat Dog House',
          border='0',
          width='342px',
          height='62px'
        )
        span(style={ display: "none" }) Наш телефон:
        a.header-phone(href='tel:+79531733297') +7 (953) 173-32-97

  table(cellpadding='0', cellspacing='0', align='center', width='100%', style={ margin: "0 auto 50px auto" })
    tr(style={ "background-color": "#FF9068" })
      td.thank-cell
        span.thank-text(style={
          width: "200px",
        }) Спасибо!
        span.thank-text Бронь <span style="font-weight: 600">№#{ orderId }</span> оформлена.

  table(cellpadding='0', cellspacing='0', align='center', width='100%', style={ margin: "0 auto 50px auto" })
    tr
      td.info-cell
        span.info-item Даты пребывания:
        span.info-value #{ startDate } - #{ endDate }
        span.count-days (#{ countDays } суток)
    tr
      td.info-cell
        span.info-item Ваше имя:
        span.info-value #{ firstName } #{ lastName }
    tr
      td.info-cell
        span.info-item Ваш телефон:
        a.info-value(href="tel:" + phone) #{ phone }
    tr
      td.info-cell
        span.info-item Ваш e-mail:
        a.info-value(href="mailto:" + email) #{ email }
    tr
      td.info-cell
        span.info-item Комментарий:
        span.info-value.info-value-comment #{ comment }

  table(cellpadding='0', cellspacing='0', align='center', width='100%', style={ margin: "0 auto 25px auto" })
    tr
      td.cost-cell-line
        div(style={ width: "100%", height: "1px", "background-color": "#FF9068" })

  table(cellpadding='0', cellspacing='0', align='center', width='100%', style={ margin: "0 auto 50px auto" })
    tr
      td.cost-cell
        span.cost-text.cost-text-value Стоимость проживания (#{ countDays } суток):
        span.cost-text.cost-text-price #{ price } р

  table(cellpadding='0', cellspacing='0', align='center', width='100%', style={ margin: "0 auto 60px auto" })
    tr(style={ "text-align": "center" })
      td
        span.pay-info Оплата происходит в день заселения

  table(cellpadding='0', cellspacing='0', align='center', width='100%', style={
    margin: "0 auto 60px auto",
  })
    tr(style={ "text-align": "center" })
      td(style={ "font-size": "18px" }) За процессом открытия гостиницы вы можете следить на нашей страничке в <a style="color: #FF9068; text-decoration: underline" href="https://instagram.com/catdoghouse_hotel" target="_blank">Instagram</a>

  table(cellpadding='0', cellspacing='0', align='center', width='100%', style={
    margin: "0 auto 60px auto",
    width: "500px"
  })
    tr(style={ "text-align": "center"})
      td(style={ "font-size": "14px" }) Настроить вашу рассылку можно в <a style="color: #FF9068; text-decoration: underline" href="https://catdog-house.ru/cabinet" target="_blank">личном кабинете</a>. Если вы больше не хотите получать наши письма, то можете <a style="color: #FF9068; text-decoration: underline" href="https://catdog-house.ru/cabinet" target="_blank">отписаться</a> в любое время
